 <h1>Wikis</h1>

<div class="row">
 <div class="col-md-8">
   <%= link_to 'Add Wiki', new_task_path, id: "new_link", remote: true %>
   <div class="wikis">
    <%= render @wikis%>
   </div>
 </div>
</div>