 <h1>Wikis</h1>

<div class="row">
 <div class="col-md-8">
   <%= link_to 'Add Wiki', new_wiki_path, id: "new_link" %>
   <div class="wikis">
   <% @wikis.each do |wiki| %>   
       <div><%= link_to wiki.title, wiki %> </div>
   <% end %>

   </div>
 </div>
</div>